<!-- views/partials/footer.handlebars -->

<footer class="text-center text-lg-start fixed-bottom " style="background-color: grey; color: #ffffff;">
 
  <div class="text-center p-3" >
   
  </div>

</footer>